body {
    font-family: Arial, sans-serif;
    background-color: #93acff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4faff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #000000;
}

.employee-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.employee-table th, .employee-table td {
    border: 1px solid #dbedff;
    padding: 8px;
    text-align: center;
}

.employee-table th {
    background-color: #dbedff;
}

.movimientos-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.movimientos-table th, .movimientos-table td {
    border: 1px solid #dbedff;
    padding: 8px;
    text-align: center;
}

.movimientos-table th {
    background-color: #dbedff;
}

button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #8993ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

button:hover {
    background-color: #7a82e0;
}

button:active {
    background-color: #5a6bb3;
    transform: translateY(2px);
}

.buttons {
    text-align: center;
}

.buttons button {
    margin: 0 10px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
}
form input:focus {
    background-color: #fff;
}

form input:not(:placeholder-shown) {
    background-color: #fff;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
}

