<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Empleado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Detalles del Empleado</h1>
        <input type="hidden" id="userId" name="userId" value="{{ userId }}" required>
        <input type="hidden" id="vdi" name="vdi" value="{{ empleado.ValorDocumentoIdentidad }}" required>
        <p><strong>Documento de Identidad:</strong> {{ empleado.ValorDocumentoIdentidad }}</p>
        <p><strong>Nombre:</strong> {{ empleado.Nombre }}</p>
        <p><strong>Puesto:</strong> {{ empleado.Puesto }}</p>
        <p><strong>Saldo de Vacaciones:</strong> {{ empleado.SaldoVacaciones }}</p>
        <p><strong>Fecha de Contratación:</strong> {{ empleado.FechaContratacion }}</p>

        <button onclick="listarMovimiento()">Listar Movimiento</button>
        <script>
            function listarMovimiento() {
                const userId = document.getElementById('userId').value;
                const empleado_vdi = document.getElementById('vdi').value;
                window.location.href = `/movimientos/${userId}/${empleado_vdi}`;
            }
        </script> 
        <br></br> 
        
        <button onclick="index()">Regresar</button>
        <script>
            function index() {
                const userId = document.getElementById('userId').value;
                window.location.href = `/index/${userId}`;
            }
        </script>        
        <br></br>
    </div>
</body>
</html>
