<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar Empleado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='validaciones.js') }}" defer></script>
    <script src="{{ url_for('static', filename='insertar.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <h1>Insertar</h1>
        <form id="insertForm">
            <input type="hidden" id="userId" name="userId" value="{{ userId }}" required>

            <label for="nombre">Documento de Identidad:</label>
            <input type="text" id="vdi" name="vdi" required>

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="puesto">Puesto:</label>
            <input type="hidden" id="puestos" name="puestos" value="{{ puestos }}" required>
            <select id="puesto" name="puesto" required>
                {% for puesto in puestos %}
                <option value="{{ puesto.Id }}">{{ puesto.Nombre }}</option>
                {% endfor %}
            </select>                    
            
            <div class="buttons">
                <button type="submit">Insertar Empleado</button>
                <button type="button" onclick="window.location.href='/';">Regresar</button>
            </div>
        </form>
    </div>
</body>
</html>
